<html>

<head>

    <title>Specific Posts</title>

</head>

<body>
    <%- include navigation.ejs %>
      <h2>
                    <%= post.title %>
            </h2>
            
            <h3>
                    <%= post.content %>
            </h3>
    <% for(let i= 0; i< comments.length; i++) { %>
        <div>
            <h3>
                <%= comments[i].content %> </h3>
               <p> <%= comments[i].user.name %></p>
    
           
        </div>
        <%}%>
    

</body>

</html>